## Import similarity Data

In [1]:
import pandas as pd
import numpy as np
# np.set_printoptions(threshold=np.nan)

In [2]:
import pickle
result = pickle.load(open("spacy_similarity_result_2.p", "rb"))

## Create Numpy Pivot Table

In [3]:
data = [np.array(result[0]).astype(int), np.array(result[1]).astype(int), np.array(result[2])]
datum = np.array(data)
datum = datum.T

In [ ]:
datum[0:1000]

In [84]:
d = pd.DataFrame(datum)

In [79]:
high_value = d[d[2] > .99][d[0] != d[1]]

/Users/ingrid/anaconda/lib/python3.5/site-packages/pandas/core/frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

In [83]:
high_value.head()

      source  target    weight    id
671        0     671  0.991537   671
2795       0    2795  0.990748  2795
2974       0    2974  0.990117  2974
6006       2       6  0.990817  6006
6016       2      16  0.990132  6016

In [89]:
af_df = pd.DataFrame(af)

In [91]:
af_df["index"] = af_df.index

In [94]:
af_df.columns = ["label","source"]

In [97]:
high_value_label = pd.merge(af_df,high_value,on="source")

In [98]:
len(high_value_label)

32858

In [ ]:
popular_sources = high_value.groupby('source').count().sort_values(by='weight',ascending=False).target

In [ ]:
top_ten_revs = popular_sources.iloc[0:10]

In [ ]:
top_ten_rev_ids = [int(val) for val in list(top_ten_revs.keys())]

In [ ]:
top_ten_rev_ids

In [81]:
high_value["id"] = high_value.index

In [82]:
high_value.columns = ["source", "target","weight","id"]

In [99]:
high_value_label.to_csv('high_value_label_gephi.csv')

In [100]:
high_value

         source  target    weight       id
671           0     671  0.991537      671
2795          0    2795  0.990748     2795
2974          0    2974  0.990117     2974
6006          2       6  0.990817     6006
6016          2      16  0.990132     6016
6017          2      17  0.990670     6017
6025          2      25  0.990758     6025
6030          2      30  0.990196     6030
6031          2      31  0.992842     6031
6062          2      62  0.990339     6062
6090          2      90  0.993065     6090
6129          2     129  0.992362     6129
6160          2     160  0.990082     6160
6172          2     172  0.992693     6172
6224          2     224  0.990793     6224
6238          2     238  0.990126     6238
6267          2     267  0.991135     6267
6290          2     290  0.990820     6290
6292          2     292  0.991203     6292
6298          2     298  0.990536     6298
6331          2     331  0.991659     6331
6346          2     346  0.990662     6346
6369          2     369  0.991268     6369
6373          2     373  0.991675     6373
6386          2     386  0.990974     6386
6420          2     420  0.990100     6420
6435          2     435  0.991262     6435
6467          2     467  0.994180     6467
6482          2     482  0.992174     6482
6487          2     487  0.991932     6487
...         ...     ...       ...      ...
8998438    2999    1438  0.990750  8998438
8998460    2999    1460  0.990166  8998460
8998469    2999    1469  0.990493  8998469
8998590    2999    1590  0.991200  8998590
8998617    2999    1617  0.992759  8998617
8998620    2999    1620  0.991122  8998620
8998677    2999    1677  0.991490  8998677
8998730    2999    1730  0.990911  8998730
8998746    2999    1746  0.992439  8998746
8998803    2999    1803  0.990377  8998803
8998843    2999    1843  0.990054  8998843
8998855    2999    1855  0.990143  8998855
8998994    2999    1994  0.991234  8998994
8999100    2999    2100  0.991915  8999100
8999153    2999    2153  0.990237  8999153
8999226    2999    2226  0.990389  8999226
8999278    2999    2278  0.991119  8999278
8999328    2999    2328  0.991523  8999328
8999361    2999    2361  0.990391  8999361
8999435    2999    2435  0.990603  8999435
8999473    2999    2473  0.990960  8999473
8999528    2999    2528  0.991206  8999528
8999559    2999    2559  0.990978  8999559
8999666    2999    2666  0.990285  8999666
8999795    2999    2795  0.991385  8999795
8999837    2999    2837  0.990049  8999837
8999888    2999    2888  0.991469  8999888
8999907    2999    2907  0.992175  8999907
8999959    2999    2959  0.990750  8999959
8999972    2999    2972  0.990352  8999972

[32858 rows x 4 columns]

In [ ]:
high_value = d[d[2] > .98]

In [ ]:
len(d)

In [ ]:
len(high_value)

In [ ]:
d.head()

In [4]:
rows, row_pos = np.unique(datum[:, 0], return_inverse=True)
cols, col_pos = np.unique(datum[:, 1], return_inverse=True)

pivot_table = np.zeros((len(rows), len(cols)), dtype=datum.dtype)
pivot_table[row_pos, col_pos] = datum[:, 2]

In [5]:
t = pd.DataFrame(pivot_table)

# Cluster Analysis

### Spectral Clustering

In [ ]:
import numpy as np
from sklearn.cluster import SpectralClustering
# mat = np.matrix([[1.,.1,.6,.4],[.1,1.,.1,.2],[.6,.1,1.,.7],[.4,.2,.7,1.]])
mat_clust = SpectralClustering(n_clusters=50,affinity='precomputed').fit_predict(t)

In [ ]:
cols

### DBSCAN

In [ ]:
from sklearn.cluster import DBSCAN
DBSCAN(metric='precomputed').fit_predict(t)

### affinity propagation clustering algorithm

In [6]:
from sklearn.cluster import AffinityPropagation
from sklearn import metrics
from sklearn.datasets.samples_generator import make_blobs

In [7]:
af = AffinityPropagation(affinity='precomputed').fit_predict(t)

In [101]:
af_df2 = pd.DataFrame(af)
af_df2["index"] = af_df2.index

In [105]:
af_df2.columns = ["label","source"]
af_df2.to_csv('nodes.csv')

In [63]:
import matplotlib.pyplot as plt
%matplotlib inline
ax = pd.DataFrame(af) #.sort_values(by=0,ascending=False).hist(bins=100)
# ax.ylabel('x')
ax.columns=["groups"]#.groupby(0)#.count()
ax["e"] = ax.groups
ax.groupby('groups').count().sort_values(by="e",ascending=False).reset_index().iloc[0:10] #.plot(kind='bar')#.hist(bins=100)
# plt.tick_params(
#     axis='x',          # changes apply to the x-axis
#     which='both',      # both major and minor ticks are affected
#     bottom='off',      # ticks along the bottom edge are off
#     top='off',         # ticks along the top edge are off
#     labelbottom='off') # labels along the bottom edge are off
# # ax.xticks(None)
# # ax#.groupby('groups')
# # ax.hist(bins=300)
# plt.title('Histogram of Cluster Sizes Determined by Affinity Propagation')
# plt.ylabel('Number of Reviews in Cluster Groups')
# plt.xlabel('Distinct Clusters')
# plt.legend().set_visible(False)
# plt.savefig('AffinityPropagationClusterHistogram2.jpg')

   groups    e
0     155  136
1      34   98
2      58   97
3      30   93
4      42   88
5     116   86
6     209   86
7     170   86
8       2   80
9     229   80

In [75]:
smaller_clusters = ax[~ax.groups.isin([34,155,58,30,42,116,209,170,2,229])]

In [77]:
smaller_clusters[smaller_clusters.groups == 316]

      groups    e
0        316  316
79       316  316
147      316  316
219      316  316
273      316  316
397      316  316
406      316  316
490      316  316
616      316  316
631      316  316
657      316  316
716      316  316
1202     316  316
1248     316  316
1260     316  316
1432     316  316
1554     316  316
1643     316  316
1676     316  316
1678     316  316
1690     316  316
1700     316  316
1778     316  316
1828     316  316
1898     316  316
1900     316  316
1932     316  316
2214     316  316
2245     316  316
2299     316  316
2326     316  316
2357     316  316
2375     316  316
2412     316  316
2466     316  316
2498     316  316
2836     316  316
2866     316  316
2908     316  316
2967     316  316

## Spectral Clustering

In [ ]:
spectral = cluster.SpectralClustering(n_clusters=2,
                                          eigen_solver='arpack',
                                          affinity="nearest_neighbors")

In [ ]:
res = pd.DataFrame(af)
res_89 = res[res[0] == 89]
indexes = list(res_89.index)

In [ ]:
res.to_pickle('affinity_prop.pkl')

In [ ]:
n_clusters_ = len(cluster_centers_indices)

print('Estimated number of clusters: %d' % n_clusters_)
print("Silhouette Coefficient: %0.3f"
      % metrics.silhouette_score(t, labels, metric='precomputed'))

In [ ]:
"""
=========================================================
Comparing different clustering algorithms on toy datasets
=========================================================

This example aims at showing characteristics of different
clustering algorithms on datasets that are "interesting"
but still in 2D. The last dataset is an example of a 'null'
situation for clustering: the data is homogeneous, and
there is no good clustering.

While these examples give some intuition about the algorithms,
this intuition might not apply to very high dimensional data.

The results could be improved by tweaking the parameters for
each clustering strategy, for instance setting the number of
clusters for the methods that needs this parameter
specified. Note that affinity propagation has a tendency to
create many clusters. Thus in this example its two parameters
(damping and per-point preference) were set to to mitigate this
behavior.
"""
# print(__doc__)

import time
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

from sklearn import cluster, datasets
from sklearn.neighbors import kneighbors_graph
from sklearn.preprocessing import StandardScaler

np.random.seed(0)

In [ ]:
# Generate datasets. We choose the size big enough to see the scalability
# of the algorithms, but not too big to avoid too long running times
n_samples = 1500
noisy_circles = datasets.make_circles(n_samples=n_samples, factor=.5,
                                      noise=.05)
noisy_moons = datasets.make_moons(n_samples=n_samples, noise=.05)
blobs = datasets.make_blobs(n_samples=n_samples, random_state=8)
no_structure = np.random.rand(n_samples, 2), None

colors = np.array([x for x in 'bgrcmykbgrcmykbgrcmykbgrcmyk'])
colors = np.hstack([colors] * 20)

clustering_names = [
    'MiniBatchKMeans', 'AffinityPropagation', 'MeanShift',
    'SpectralClustering', 'Ward', 'AgglomerativeClustering',
    'DBSCAN', 'Birch']

In [ ]:
noisy_moons

In [ ]:
plt.figure(figsize=(len(clustering_names) * 2 + 3, 9.5))
plt.subplots_adjust(left=.02, right=.98, bottom=.001, top=.96, wspace=.05,
                    hspace=.01)

plot_num = 1

datasets = [noisy_circles, noisy_moons, blobs, no_structure]
for i_dataset, dataset in enumerate(datasets):
    X, y = dataset
    # normalize dataset for easier parameter selection
    X = StandardScaler().fit_transform(X)

    # estimate bandwidth for mean shift
    bandwidth = cluster.estimate_bandwidth(X, quantile=0.3)

    # connectivity matrix for structured Ward
    connectivity = kneighbors_graph(X, n_neighbors=10, include_self=False)
    # make connectivity symmetric
    connectivity = 0.5 * (connectivity + connectivity.T)

    # create clustering estimators
    ms = cluster.MeanShift(bandwidth=bandwidth, bin_seeding=True)
    two_means = cluster.MiniBatchKMeans(n_clusters=2)
    ward = cluster.AgglomerativeClustering(n_clusters=2, linkage='ward',
                                           connectivity=connectivity)
    spectral = cluster.SpectralClustering(n_clusters=2,
                                          eigen_solver='arpack',
                                          affinity="nearest_neighbors")
    dbscan = cluster.DBSCAN(eps=.2)
    affinity_propagation = cluster.AffinityPropagation(damping=.9,
                                                       preference=-200)

    average_linkage = cluster.AgglomerativeClustering(
        linkage="average", affinity="cityblock", n_clusters=2,
        connectivity=connectivity)

    birch = cluster.Birch(n_clusters=2)
    clustering_algorithms = [
        two_means, affinity_propagation, ms, spectral, ward, average_linkage,
        dbscan, birch]

    for name, algorithm in zip(clustering_names, clustering_algorithms):
        # predict cluster memberships
        t0 = time.time()
        algorithm.fit(X)
        t1 = time.time()
        if hasattr(algorithm, 'labels_'):
            y_pred = algorithm.labels_.astype(np.int)
        else:
            y_pred = algorithm.predict(X)

        # plot
        plt.subplot(4, len(clustering_algorithms), plot_num)
        if i_dataset == 0:
            plt.title(name, size=18)
        plt.scatter(X[:, 0], X[:, 1], color=colors[y_pred].tolist(), s=10)

        if hasattr(algorithm, 'cluster_centers_'):
            centers = algorithm.cluster_centers_
            center_colors = colors[:len(centers)]
            plt.scatter(centers[:, 0], centers[:, 1], s=100, c=center_colors)
        plt.xlim(-2, 2)
        plt.ylim(-2, 2)
        plt.xticks(())
        plt.yticks(())
        plt.text(.99, .01, ('%.2fs' % (t1 - t0)).lstrip('0'),
                 transform=plt.gca().transAxes, size=15,
                 horizontalalignment='right')
        plot_num += 1

plt.show()